body {
    text-align: center;
}

#img {
    border-radius: 50%;
    width: 200px;
}

h1 {
    font-size: 20px;
    font-family: 'Lobster', cursive;
}

.lists {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

.links {
    display: inline;
}

.links:hover {
    color: gold;
    font-size: 25px;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

myfavplayer h2 {
    font-family: sans-serif;
    font-size: 20;
    font-weight: 250
}

#stevenash {
    width: 300px;
    transition: 0.2s;
    border-width: 10px;
}

#chrispaul {
    width: 300px;
    transition: 0.2s;
    border-width: 10px;
}
#myinspiration img:hover {
    transform: scale(0.9);
}